*{
    margin: 0;padding: 0;
    font-size: 14px;
}
.blog-preview{
    width: 40vmin;
    height: max-content;
    min-height: 50vmin;
    margin-top: 20px;
    min-height: 50vmin;
    border: 2px solid black;
    border-radius: 14px;
}
.blog-image{
    width: 94%;
    height: 40%;
    height: max-content;
    margin: 10px auto;
    border-radius: 14px;
    overflow: hidden;
    border: 2px solid black;
}
.blog-image img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
.blog-title{
    width: 94%;
    margin:9px auto;
    font-size: 1.1rem;
    font-weight: 700;
}
.blog-content{
    width: 94%;
    margin: 0px auto;
    height: 20%;
    font-size: 0.8rem;
    color: rgb(149, 149, 149);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em; /* Adjust line height as needed */
    max-height: calc(1.5em * 4); 
}
.author{
    width: 94%;
    font-size: 0.9rem;
    margin: 12px auto;
    font-weight: 500;
}
@media only screen and (max-width: 768px){
    .blog-preview{
        width: 89vw;
        margin: 10px auto;
        
    }
}